<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <input type="file" class="form-control-file" id="exampleFormControlFile1">
</div>
<br>
<div class="form-group">
  <label for="name">Full Name</label>
  <input required value="" type="text" style="width: 15rem;" name="fullname" id="name" class="form-control">
  <label for="email">Email</label>
  <input required style="width: 15rem;" value="" type="email" name="email" id="email" class="form-control">
</div>

<div class="form-group">
  <label for="phone">Phone Number</label>
  <input required style="width: 15rem;" value="" type="text" name="phone" id="phone" class="form-control">
  <label for="country">Country</label>
  <input required style="width: 15rem;" value="" type="text" name="country" id="country" class="form-control">
</div>

<div class="form-group">
  <label for="state">State/Region</label>
  <input required style="width: 15rem;" value="" type="text" name="state" id="state" class="form-control">
  <label for="city">City</label>
  <input required style="width: 15rem;" value="" type="text" name="city" id="city" class="form-control">
</div>

<div class="form-group">
  <label for="address">address</label>
  <input required style="width: 15rem;" value="" type="text" name="address" id="address" class="form-control">
  <label for="zipcode">Zip Code</label>
  <input required style="width: 15rem;" value="" type="text" name="zipcode" id="zipcode" class="form-control">
</div>

<button type="submit" class="btn btn-primary">Update</button>